<div class="social-links">
  <ul>
    {% if author.email %}
      <li>
        <a title="Email" href="mailto:{{ author.email }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-envelope"></i></a>
      </li>
    {% endif %}
    {% if author.twitter %}<li><a title="Twitter" href="http://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
    {% if author.facebook %}<li><a title="Facebook" href="http://facebook.com/{{ author.facebook }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
    {% if author.google.plus %}<li><a title="Google+" href="http://plus.google.com/+{{ author.google.plus }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-google-plus"></i> Google+</a></li>{% endif %}
    {% if author.linkedin %}<li><a title="LinkedIn" href="http://linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
    {% if author.instagram %}<li><a title="Instagram" href="http://instagram.com/{{ author.instagram }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
    {% if author.github %}<li><a title="GitHub" href="http://github.com/{{ author.github }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-github"></i></a></li>{% endif %}
    {% if author.stackoverflow %}<li><a title="Stack Overflow" href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-stack-overflow"></i></a></li>{% endif %}
    {% if author.dribbble %}<li><a title="Dribbble" href="http://dribbble.com/{{ author.dribbble }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-dribbble"></i></a></li>{% endif %}
    {% if author.foursquare %}<li><a title="FourSquare" href="http://foursquare.com/{{ author.foursquare }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-foursquare"></i></a></li>{% endif %}
    {% if author.steam %}<li><a title="Steam" href="http://steamcommunity.com/id/{{ author.steam }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-steam"></i></a></li>{% endif %}
    {% if author.youtube %}<li><a title="YouTube" href="https://youtube.com/user/{{ author.youtube }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
    {% if author.soundcloud %}<li><a title="SoundCloud" href="http://soundcloud.com/{{ author.soundcloud }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-soundcloud"></i></a></li>{% endif %}
    {% if author.codepen %}<li><a title="CodePen" href="http://codepen.io/{{ author.codepen }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-codepen"></i></a></li>{% endif %}
    {% if author.telegram %}<li><a title="Telegram" href="https://t.me/{{ author.telegram }}" class="social-link-item" target="_blank" rel="noopener"><i class="fa fa-fw fa-telegram"></i></a></li>{% endif %}
  </ul>
</div>
